<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h3><%= @announcement.name %></h3>
    <%= raw @announcement.content %>
  </div>
</div>
