<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h3><%= @announcement.name %></h3>
    <% 
        @output = Nokogiri::HTML::DocumentFragment.parse(@announcement.content)
    %>
    <%= raw @output.to_html %>
    <%= render "shared/attachments", documents: @announcement.documents %>
  </div>
</div>
