<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h1><%= @announcement.name %></h1>
    <%= raw @announcement.content %>
  </div>
</div>
