<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span8 offset1">
    <h1>NewsReports#index</h1>
    <p>Find me in app/views/news_reports/index.html.erb</p>
  </div>
</div>
