<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h3><%= @news_report.title %></h3>
    <%= raw @news_report.content %>
    <%= render "shared/attachments", documents: @news_report.documents %>
  </div>
</div>
