<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h1><%= @news_report.title %></h1>
    <%= raw @news_report.content %>
  </div>
</div>
