<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h3><%= @news_report.title %></h3>
    <% 
        @output = Nokogiri::HTML::DocumentFragment.parse(@news_report.content)
    %>
    <%= raw @output.to_html %>
    <%= render "shared/attachments", documents: @news_report.documents %>
  </div>
</div>
