<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <%= link_to(I18n.t("front_end.sub_page.back"), ::MyUtils.page_path_to(@parent_page)) %>
    <h3><%= @sub_page.title %></h1>
    <div class="user-input-content">
      <% @output = Nokogiri::HTML::DocumentFragment.parse(@sub_page.content) %>
      <%= raw @output.to_html %>
    </div>
  </div>
</div>
