<ul class="unstyled attachments">
  <% documents.each_with_index do |document,i| %>
    <li>
      <span><%= I18n.t "front_end.attachments" %><%= i + 1 %>：</span>
      <%= link_to document.document_file_file_name, document.document_file.url %>
    </li>
  <% end %>
</ul>
