<ol class="dropdown-menu">
  <% menu_branch.each do |menu_name,path_and_children| %>
    <% has_child = !(path_and_children[:children].empty?) %>
    <% unless has_child %>
    <li>
      <%= link_to menu_name.to_s, path_and_children[:path] %>
    </li>
    <% else %>
      <li class="dropdown-submenu">
        <%= link_to menu_name.to_s, "#" %>
        <%= render :partial => "shared/menu_branch_lv3", :object => path_and_children[:children]%>
      </li>
    <% end %>
  <% end %>
</ol>
