<ol class="dropdown-menu">
  <% menu_branch.each do |menu_name,path_and_children| %>
    <% has_child = !path_and_children[:children].empty? %>
    <li <%= has_child ? "class='dropdown'" : "" %>>
      <span>
        <%= link_to menu_name.to_s, path_and_children[:path] %>
      </span>
    </li>
    <% if has_child  %>
      <%= render :partial => "shared/menu_branch", :object => path_and_children[:children]%>
    <% end %>
  <% end %>
</ol>
