<ul class="nav nav-list page-nav">
  <% @nav_list.each_with_index do |n,i| %>
    <% 
      has_sub = false 
      if n[1] == "#" 
        has_sub = true 
      end
    %>
    <li class="<%= "nav-parent " if i==0 %><%= "nav-lv#{n[2]} " %>">
      <a href="<%= n[1] %>">
        <%= n[0] %>
        <% if has_sub %>
          <span class="caret middle"></span>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>
