<ul class="nav nav-list page-nav">
  <% @nav_list.each do |n| %>
    <%#<li <%="class='active'" if n[1] == ::MyUtils.prepend_prefix_params_to_path(request.path) %>
    <li <%="class='active'" if n[1].split("/").last == request.path.split("/").last %>>
    <%= link_to n[0],n[1] %>
    </li>
  <% end %>
</ul>
