<br />
<br />

<div class="row">
  <div class="span7">
    <%= render partial: "pages/home/carousel" %>
  </div><!-- end of span8 -->
  <div class="span4 offset1">
    <div id="tab-container">
      <%= render partial: "pages/home/tabs" %>
    </div>
  </div><!-- end of span4 -->
</div><!-- end of row -->

<%= render partial: "pages/home/stickers" %>

