<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h3><%= @page.title %></h3>
    <%= raw @page.content %>
    <%= render "shared/attachments", documents: @page.documents %>
  </div>
</div>
