<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span9">
    <h1><%= @document.document_file_file_name %></h1>
    <p><%= @document.discription %></p>
    <%= link_to(I18n.t("front_end.download_link"),@document.document_file.to_s, class: "download") %>
  </div>
</div>
