.sortable_item span.handle{
  cursor: move;
}

.tree_item_actions{
  display: inline-block;
  float: right;
  /*li{*/
    /*display: inline-block;*/
  /*}*/
}

.sortable_placeholder{
  background-color: #FFE467;
}
