<div class="list-title">
  <div class="left-title">
    <div class="list-padding">
      <span class="list-padding-inner">&nbsp;</span>
    </div>
    <div class="title-content">
      <span><%= title_name %></span>
    </div>
  </div>
  <div class="filler">&nbsp;</div>
</div>
<div class="float-buffer"></div>
