<div class="row">
  <div class="span3">
    <%= render partial: "shared/pagenav" %>
  </div>
  <div class="span8 offset1">
    <h1>Teachers#show</h1>
    <p>Find me in app/views/teachers/show.html.erb</p>
  </div>
</div>
