/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


@import "bootstrap";
@import "bootstrap-responsive";

$red-grey-border: rgb(40,18,18);
$linkColorHover: #999;

@mixin red-gradient-background(){
  width: 100%;
  @include gradient-vertical(rgb(146,13,15),rgb(127,11,13));
}

@mixin grey-gradient-background(){
  /*width: 100%;*/
  /*background-image: url(office.png);*/
  @include gradient-vertical(rgb(73,68,68),rgb(63,60,60));
}

@mixin center-aligned-menu-item(){
  padding-top: 2px;
  text-align: center;
  >li {
    float: none;
    display: inline-block;
  }
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin visible {
  display: initial;
  visibility: visible;
}


/*------------- end of variable, mixin defines -------------*/

html,body{
  height: 100%;
}

.caret.middle{
  vertical-align: middle;
}

.attachments{
  margin-top: 15px;
}

.visible-980-1200{
  @include hidden;
}

.visible-768-979{
  @include hidden;
}

@media (min-width: 980px) and (max-width: 1199px){
  .visible-980-1200{
    @include visible;
  }
}

@media (min-width: 768px) and (max-width: 979px){
  .invisible-768-979{
    @include hidden;
  }
  .visible-768-979{
    @include visible;
  }
}

.user-input-content{
  * {
    overflow: auto;
  }
  td>img{
    max-width: none;
  }
}

#header,#menu-wrapper,#footer,#department-links{
  p,span,a,h1,h2,h3,h4{
    color: white;
  }
}

#header-wrapper{
  @include red-gradient-background();
  #header{
    padding-top: 5px;
    padding-bottom: 5px;
    img{
      margin-right: 5px;
      display: inline-block;
      float: left;
    }
    img.aacsb{
      display: inline-block;
      height:63px;
      margin-right:10px;
      margin-top:7px;
      margin-left:100px;
      width:63px;
    }
    img.header-logo{
      height: 75px;
      width: 60px;
    }
    .kai{
      font-family: 文鼎粗行楷, 華康郭泰碑, 書法家顏楷體, dfkai-sb, stkaiti, 標楷體, 华文楷体;
    }
    h1{
      padding: 0px;
      margin: 5px;
      margin-left: 0px;
      font-size: 2.1em;
      span {
        color: white;
      }
    }
    .header-info{
      display: inline-block; 
    }
    span{
      color: $grayLighter;
      margin-left: 5px;
    }
    form{
      margin-top: 10px;
      margin-bottom: 9px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px){
  #header-wrapper{
    #header{
      padding-top: 5px;
      padding-bottom: 5px;
      position: relative;
      img{
        margin-right: 5px;
        display: inline-block;
        float: left;
      }
      img.aacsb{
        display: inline-block;
        height:63px;
        width:63px;
        position: absolute;
        right: 15px;
      }
      img.header-logo{
        height: 75px;
        width: 60px;
      }
      .kai{
        font-family: 文鼎粗行楷, 華康郭泰碑, 書法家顏楷體, dfkai-sb, stkaiti, 標楷體, 华文楷体;
      }
      h1{
        padding: 0px;
        margin: 3px;
        margin-left: 0px;
        margin-bottom: 0px;
        font-size: 1.8em;
        line-height: 1.2em;
        span {
          color: white;
        }
      }
      .header-info{
        display: inline-block; 
        span{
          color: $grayLighter;
          margin-left: 5px;
        }
        form{
          margin-top: 10px;
          margin-bottom: 9px;
        }
      }
    }
  }
}

#menu-wrapper{
  @include grey-gradient-background();
  /*border-top: 1px solid $red-grey-border;*/
  ol#main-menu{
    /*@include center-aligned-menu-item();*/
    margin: 0px;
    .caret {
      border-top-color: #ddd !important;
      border-bottom-color: #ddd !important;
    }
    >li>a:hover {
      background-color: $linkColorHover;
    }
  }
}
ol.dropdown-menu{
  span {
    display: inline-block
  }
  /*display: block;*/
  margin-top: 0px;
  >li>a:hover {
    background-color: $linkColorHover;
  }
  @include grey-gradient-background();
    /*border-top: 1px black solid;*/
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  li{
    /*text-align: left;*/
  }
}


#main-wrapper{
  /*border-top: 1px solid grey;*/
  margin-top: 10px;
  margin-bottom: 20px;
}

#non-footer{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  background-image: url(retina_dust.png);
  /*background-color: red;*/
  border-bottom: 1px solid grey;
}

#department-links-wrapper{
  @include grey-gradient-background();
  /*border-bottom: 1px solid $red-grey-border;*/
  ol#department-links{
    >li>a:hover {
      background-color: $linkColorHover;
    }
    @include center-aligned-menu-item();
    margin: 0px;
  }
}

#info-wrapper{
  @include red-gradient-background();
  #info{
    text-align: center;
  }
}

#push,#footer{
  height: 80px;
}

.page-nav{
  li.nav-lv1{
    padding-left: 25px;
  }
  li.nav-lv2{
    padding-left: 40px;
  }
  margin-top: 10px;
  border: solid 1px #DDD;
  @include border-radius(10px);
  padding: 10px;
  a {
    margin: 0px !important;
  }
}

/* sticker colors */

@mixin sticker-bar($color){
  border-top: 5px solid $color;
}

.sticker5183c7{
  @include sticker-bar(#5183c7) 
}
.stickerc65152{
  @include sticker-bar(#c65152) 
}
.sticker9abb58{
  @include sticker-bar(#9abb58) 
}
.sticker8465a7{
  @include sticker-bar(#8465a7) 
}
.sticker4daecb{
  @include sticker-bar(#4daecb) 
}
.stickerff9748{
  @include sticker-bar(#ff9748) 
}

.sticker9a7016{
  @include sticker-bar(#9a7016) 
}
.sticker293352{
  @include sticker-bar(#293352) 
}
.sticker13c29f{
  @include sticker-bar(#13c29f) 
}
.stickera2a012{
  @include sticker-bar(#a2a012) 
}
