/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


@import "bootstrap";
@import "bootstrap-responsive";

$red-grey-border: rgb(40,18,18);
$linkColorHover: #999;

@mixin red-gradient-background(){
  width: 100%;
  @include gradient-vertical(rgb(146,13,15),rgb(127,11,13));
}

@mixin grey-gradient-background(){
  width: 100%;
  background-image: url(office.png);
  /*@include gradient-vertical(rgb(30,30,30),rgb(13,13,13));*/
}

@mixin center-aligned-menu-item(){
  text-align: center;
  >li {
    float: none;
    display: inline-block;
  }
}

/*------------- end of variable, mixin defines -------------*/

html,body{
  height: 100%;
}

#header,#menu-wrapper,#footer,#department-links{
  p,span,a,h1,h2,h3,h4{
    color: white;
  }
}

#header-wrapper{
  @include red-gradient-background();
  #header{
    padding-top: 5px;
    padding-bottom: 5px;
    img{
      margin-right: 10px;
      display: inline-block;
      float: left;
    }
    .kai{
      font-family: dfkai-sb, stkaiti, 標楷體, 华文楷体;
    }
    h1{
      padding: 0px;
      margin: 5px;
      margin-left: 0px;
      font-size: 2.3em;
    }
    span{
      color: $grayLighter;
      margin-left: 5px;
    }
    form{
      margin-top: 10px;
      margin-bottom: 9px;
    }
  }
}

#menu-wrapper{
  @include grey-gradient-background();
  border-top: 1px solid $red-grey-border;
  ol#main-menu{
    @include center-aligned-menu-item();
    margin: 0px;
    >li>a:hover {
      background-color: $linkColorHover;
    }
    li.dropdown:hover {
      > ol.dropdown-menu{
        display: block;
        margin-top: 0px;
        >li>a:hover {
          background-color: $linkColorHover;
        }
        @include grey-gradient-background();
        border-top: 1px black solid;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        li{
          text-align: left;
        }
      }
    }
  }
}

#main-wrapper{
  border-top: 1px solid grey;
}

#non-footer{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  background-image: url(retina_dust.png);
  border-bottom: 1px solid grey;
}

#department-links-wrapper{
  @include grey-gradient-background();
  border-bottom: 1px solid $red-grey-border;
  ol#department-links{
    >li>a:hover {
      background-color: $linkColorHover;
    }
    @include center-aligned-menu-item();
    margin: 0px;
  }
}

#info-wrapper{
  @include red-gradient-background();
  #info{
    text-align: center;
  }
}

#push,#footer{
  height: 80px;
}

