// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";
@import "bootstrap/mixins";

@mixin sticker-bar($color){
  border-top: 5px solid $color;
}

#carousel{
}

#home-tabs{
  margin-bottom: 5px;
  font-size: 120%;
}

ul#youtube-channel{
  >li {
    height: 90px;
    margin-bottom: 15px;
    span.video-thumb-wrapper{
      height: 90px;
      width: 120px;
      float: left;
      margin-right: 9px;
      span.video-thumb{
        position: relative;
        height: 90px;
        width: 120px;
        display: block;
        span.duration{
          z-index: 1;
          position: absolute;
          bottom: 2px;
          right: 2px; 
          padding-right: 2px;
          padding-left: 3px;
          @include border-radius(4px);
          background-color: rgba(0,0,0,0.75);
          color: #ddd;
        }
      }
    }
    div.video-info{
      height: 90px;
      position: relative;
      span.video-title{
        margin-top: 2px;
        font-weight: bold;
      }
      span.video-stats{
        position: absolute;
        bottom: 1px;
      }
    }
  }
}

@media (min-width: 768px){
  #tab-container{
    padding-left: 50px;
    height: 400px;
    /*margin-right: 20px;*/
  }
}

#tab-container{
  overflow: scroll;
}

#stickers{
}

.margin40{
  margin-top: 40px;
}

.sticker{
  padding: 15px;
  padding-top: 10px;
  height: 310px;
  a.more{
    margin-right: 10px;
  }
  img{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
  /*COLORS = %w[5183c7 c65152 9abb58 8465a7 4daecb ff9748]*/

.sticker5183c7{
  @include sticker-bar(#5183c7) 
}
.stickerc65152{
  @include sticker-bar(#c65152) 
}
.sticker9abb58{
  @include sticker-bar(#9abb58) 
}
.sticker8465a7{
  @include sticker-bar(#8465a7) 
}
.sticker4daecb{
  @include sticker-bar(#4daecb) 
}
.stickerff9748{
  @include sticker-bar(#ff9748) 
}


#home-tabs-content{
  background-color: white;
}

.page-nav{
  margin-top: 20px;
  border: solid 1px #DDD;
  @include border-radius(10px);
  padding: 10px;
  a {
    margin: 0px !important;
  }
}
