// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";
@import "bootstrap/mixins";


/*$nav-active-bg-color: #8c9e1c;*/
/*$nav-active-bg-color: #d8db2b;*/
$nav-active-bg-color: #9aa542;
/*$nav-active-bg-color: #93a542;*/
$nav-border-color: #ddd;
$nav-active-color: white;

#carousel{
}

#home-tabs{
  margin-bottom: 5px;
  font-size: 120%;
}

table tr td a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

table{
  td{
    font-size: 110%;
    word-wrap: break-word;
    padding-bottom: 8px;
  }
  td.announce_date{
    width: 90px !important;
    vertical-align: top;
  }
}

/*ul.tab-pane{*/
  /*>li{*/
    /*font-size: 110%;*/
    /*min-height: 40px;*/
    /*margin-bottom: 10px;*/
    /*span.tab-item-published-time{*/
      /*float: left;*/
      /*height: auto;*/
      /*margin-right: 9px;*/
      /*clear: both;*/
    /*}*/
    /*span.tab-item-title{*/
      /*height: auto;*/
    /*}*/
  /*}*/
/*}*/

ul#youtube-channel{
  >li {
    font-size: 100%;
    height: 90px;
    margin-bottom: 15px;
    span.video-thumb-wrapper{
      height: 90px;
      width: 120px;
      float: left;
      margin-right: 9px;
      span.video-thumb{
        position: relative;
        height: 90px;
        width: 120px;
        display: block;
        span.duration{
          z-index: 1;
          position: absolute;
          bottom: 2px;
          right: 2px; 
          padding-right: 2px;
          padding-left: 3px;
          @include border-radius(4px);
          background-color: rgba(0,0,0,0.75);
          color: #ddd;
        }
      }
    }
    div.video-info{
      height: 90px;
      position: relative;
      span.video-title{
        margin-top: 2px;
        font-weight: bold;
      }
      span.video-stats{
        position: absolute;
        bottom: 1px;
      }
    }
  }
}

#tab-container{
  ul#home-tabs{
    border-color: $nav-border-color !important;
  }
  li>a:hover {
    background-color: #aaa;
  }
  li.active>a{
    border-color: $nav-border-color !important;
    background-color: $nav-active-bg-color;
    color: $nav-active-color;
  }
  div.tab-content{
    border-color: $nav-border-color !important;
  }
}

@media (min-width: 1200px){
  #tab-container{
    padding-left: 50px;
    /*margin-right: 20px;*/
  }
  #home-tabs-content{
    height: 319px;
  }
}

@media (min-width: 980px) and (max-width: 1199px){
  #tab-container{
    padding-left: 40px;
    /*margin-right: 20px;*/
  }
  #home-tabs-content{
    height: 219px;
  }
}

@media (min-width: 768px) and (max-width: 979px){
  #tab-container{
    padding-left: 30px;
    /*margin-right: 20px;*/
  }
  #home-tabs-content{
    height: 130px;
  }
}


#stickers{
}

.margin40{
  margin-top: 40px;
}

.sticker{
  padding: 15px;
  padding-top: 10px;
  height: 310px;
  h4.en{
    font-size: 0.9em;
    line-height: 1.3em;
  }
  p.en{
    font-size: 0.8em;
    line-height: 1.2em;
  }
  a.more{
    margin-right: 10px;
  }
  img{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
  /*COLORS = %w[5183c7 c65152 9abb58 8465a7 4daecb ff9748]*/



#home-tabs-content{
  /*background-color: white;*/
  background: url('bigger_bell_bg_tr25.png') no-repeat 100%;
  /*background-image: url('bell_bg.png');*/
  /*background-repeat: no-repeat;*/
}

.sub-pages{
  li {
    margin-left: 20px;
  }
}
