// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teacher-data{
  font-size: 1.2em;
  float: left;
  width: 140px;
  margin: 5px 15px;
}
